.logo-list {
  margin: 0 15px; /* 35px/2 on each side for a total of 35px space between images */
  margin-bottom: 10px;
}

.image-container {
  margin-top: 45px;
  width: 95px;
}

.events-container {
  flex: 1; /* Allow the events container to grow and take up the available space */
}

#logga:hover {
  cursor: pointer;
  background-color: black;
}