.logo-list {
  margin-bottom: 5px; /* Reduce the margin for .logo-list */
}

.image-container {
  margin: 2px; /* Adjust the margin-top for image-container */
}

#logga {
  width: 55px;
}

.events-container {
  flex: 1; /* Allow the events container to grow and take up the available space */
}

#logga:hover {
  cursor: pointer;
  width: 60px;
}

.liga {
  display: flex;
  justify-content: center;
}

.rubrik {
  margin-bottom: 20px;
}
