#main-container {
  width: 350px;
}

.team-logo {
  height: 150px;
}

.logo-img {
  height: 140px;
  margin-top: 10px;
}

.date {
  font-weight: bold;
}

.col-12 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.col-6 {
  text-align: center;
  padding: 0;
}
